body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18pt;
  color: #CEE2FF;
  line-height: 70%;
  overflow: hidden; /* Hide scrollbars */
}

.container {
  text-align: center;
  margin-top: 5vh;
}

.slider-container {
  position: fixed;
  bottom: 35px;
  left: 20px;
  right: 20px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: #636363;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: #CEE2FF;
  border-radius: 50%;
  transform: translateY(-48%);
  z-index: 2;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background: linear-gradient(to right, #CEE2FF var(--range-value, 0%), #636363 var(--range-value, 0%));
  z-index: 2;
}

#tic-mark {
  position: absolute;
  width: 1px;
  height: 25px;
  background: var(--tic-color, white);
  transform: translateY(-11pt);
  z-index: 1;
}

::selection {
  color: #CEE2FF;
  background: #CEE2FF;
}

/* .text-container > div {
  margin-top: 8pt;
} */

a {
  color: #CEE2FF;
  text-decoration: none;
}

#who, #what, #how, #contact{
  line-height: 1.15; 
}

#contact {
  margin-top: 18px; 
 
}

.copy-message {
  display: none;
  text-align: center;
  font-size: 12pt;
  /* position: fixed; */
  /* bottom: 10px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* background-color: #00424d; */
  /* mix-blend-mode: exclusion; */
  color: #FF4D00;
  /* padding: 10px;
  border-radius: 5px; */
  opacity: 0;
  /* margin-bottom: 40px; */
}

.copy-message.show {
  display: block;
  margin-top: 4px;
  opacity: 0.9;
}
