body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18pt;
  color: #e3e3e3;
  line-height: 70%;
  overflow: hidden; /* Hide scrollbars */
  animation: fadeInAnimation ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container {
  text-align: center;
  margin-top: 5vh;
}

.slider-container {
  position: fixed;
  bottom: 35px;
  left: 20px;
  right: 20px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: #636363;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  transform: translateY(-48%);
  z-index: 2;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background: linear-gradient(to right, white var(--range-value, 0%), #636363 var(--range-value, 0%));
  z-index: 2;
}

#tic-mark {
  position: absolute;
  width: 1px;
  height: 25px;
  background: var(--tic-color, white);
  transform: translateY(-11pt);
  z-index: 1;
}

::selection {
  color: rgb(229, 200, 255);
  /* background: rgba(247, 234, 255, 0.17); */
}

svg {
  fill: red !important; /* Change elements to red */

}

.red-color * {
  fill: red !important; /* Change elements to red */
}


/* .text-container > div {
  margin-top: 8pt;
} */

a {
  color: #e3e3e3;
  text-decoration: none;
}

#who, #what, #how, #contact{
  line-height: 1.15; 
}

#contact {
  margin-top: 18px; 
    display: inline-block;
}

.copy-message {
  display: none;
  text-align: center;
  font-size: 12pt;
  /* position: fixed; */
  /* bottom: 10px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* background-color: #00424d; */
  /* mix-blend-mode: exclusion; */
  color: #FF4D00;
  /* padding: 10px;
  border-radius: 5px; */
  opacity: 0;
  /* margin-bottom: 40px; */
}

.copy-message.show {
  display: block;
  margin-top: 4px;
  opacity: 0.9;
}

#who span, #what span, #how span, #contact span {
  transition: top 0.7s cubic-bezier(0.2, 0.8, 0.2, 1), left 0.7s cubic-bezier(0.2, 0.8, 0.2, 1);
}

#target {
  pointer-events: none;
  animation: fadeInAnimation ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#clickable-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent */
  border-radius: 50%;
  cursor: pointer;
  z-index: 3; /* make sure it's above other elements */
  opacity: 0;
}

.touch #target,
.touch #clickable-circle {
  display: none;
}

.no-touch #slider {
  display: none;
}

svg path[fill="white"] {
  fill: blueviolet;
  mix-blend-mode: exclusion;
}